* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}